

.fillBtn,
.borderWhiteBtn,
.borderBlueBtn{
    float: left;
    border: none;
    margin: 5px;
    position: relative;
}


.fillBtn{
    background-color: white;
    color: #0D3685;
}

.borderWhiteBtn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.borderBlueBtn{
    background-color: transparent;
    border: 1px solid #1968AC;
    color: #1968AC;
}

.smallBtn{
    padding: 10px 20px ;
    border-radius: 30px;
    font-weight: 600;
    font-size: 11.5px;
}

.largeBtn{
    padding: 15px 80px ;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
}

.smallBtn:hover::after,
.smallBtn:hover::after,
.largeBtn:hover::after,
.largeBtn:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(100,100,100,0.1);
}

.smallBtn:hover::after,
.smallBtn:hover::after{
    border-radius: 30px;
}

largeBtn:hover::after,
.largeBtn:hover::after{
    border-radius: 40px;
}