


.communitySection{
    width: 100%;
    background-color: #31A8EA;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
}

.communitySection h3{
    width: 41%;
    text-align: center;
    color: white;
    font-size: 32px;
}