

.infoSection{
    width: 56%;
    float: left;
    padding: 60px 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightInfoSection{
    flex-direction: row-reverse;
    background-color: #F5F7FA;
}

.infoSection div{
    width: 50%;
    float: left;
}

.leftInfoSection img{
    width: 34%;
    float: left;
}

.rightInfoSection img{
    width: 40%;
    float: left;
}

.infoSection div h2{
    font-size: 40px;
    color: #31A6E4;
    line-height: 42px;
    font-weight: 500;
}